{
    "root": true,
    "plugins": [
      "prettier", "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "ignorePatterns":["./mind-map", "./assets","./src/tests/helpers/*.js"],
    "rules": {
      "prettier/prettier": 2 ,
      "no-debugger": 2, 
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "no-var": "error",
      "prefer-const": "error",
      "@typescript-eslint/consistent-type-definitions": ["error", "interface"]
    },
    "parserOptions": {
      "parser": "@typescript-eslint/parser",
      "sourceType": "module",
      "ecmaVersion": 2020
    },
    "env": {
      "node": true,
      "es6": true
    }
}